
body,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Kavivanar', sans-serif;
}

header.startup {
	background-position: center;
	background-image: url("catheader.jpg");
	background-size: cover;
	height: 100%;
}

header.startup hr {
	margin-top: 200px;
	margin-bottom: 30px;
}

header.startup h1 {
	font-size: 3rem;
}

header.startup h4 {
	font-size: 1.5rem;
}
.btn {
	display: block;
	text-align: center;
}
	
.btn {
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Kavivanar', sans-serif;
	text-align: center;
}
 .btn-xl {
 	padding: 1rem 2rem;
 }

 .btn-primary {
 	background-color: #66E200;
 	border-color: #2C6200;
 }

 .btn-primary:hover {
 	background-color: #FAF40A;
 	border-color: #FFB401;
 	border-width: 5px;
 	cursor: pointer;
 }
